/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} */

/* .left-side .plank {
  background: #000fff;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.left-side .plank::before {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: 30px;
  left: 30px;
  transform: translateY(75degs);
}

.left-side h1 {
  margin-top: 20px;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  width: 0ch;
  animation: typing 4s steps(25) infinite, blink 0.7s step-end infinite;
  margin: 0 auto;
}

.typewriter span {
  font-size: 45px;
  color: #333;
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 70ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 78px;
  position: fixed;
  left: 0;
  right: 0;
}

.nav-items {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero {
  background-image: url(./images/asset\ 0.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  width: 80%;
  margin: auto;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

.hero-content h1 {
  font-weight: 400;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
}

.hero-content .web{
  animation: typing;
}


